<mat-card>
  <mat-toolbar color="accent">
    <span style="color:white;text-align:center;">
        User Teams
    </span>
  </mat-toolbar>
  <form [formGroup]="userTeamForm" (ngSubmit)="onUserTeamFormSubmit(userTeamForm.value)">
    <br>
    <br>
    {{errormsg}}
    <div *ngShow="">
      <mat-form-field class="" style="width: 100%;">
          <input formControlName="userTeamId"  matTooltip="Enter User Team Id" matInput placeholder="User Team ID">
      </mat-form-field>
      <mat-error>
          <span *ngIf="!userTeamForm.get('userTeamId').value && userTeamForm.get('userTeamId').touched"></span>  
      </mat-error>
    </div>
    <div>
        <mat-form-field class="" style="width: 100%;">
          <mat-label>Select User</mat-label>
          <mat-select formControlName="userId">
            <mat-option *ngFor="let user of users" [value]="user.userId">
              {{user.fullname}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-error>
            <span *ngIf="!userTeamForm.get('userId').value && userTeamForm.get('userId').touched"></span>  
        </mat-error>
    </div>
    <div>
        <mat-form-field class="" style="width: 100%;">
            <mat-label>Select Team</mat-label>
            <mat-select formControlName="teamId">
              <mat-option *ngFor="let team of teams" [value]="team.teamId">
                {{team.teamName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error>
              <span *ngIf="!userTeamForm.get('teamId').value && userTeamForm.get('teamId').touched"></span>  
          </mat-error>
    </div>
    <div>
        <button type="submit" mat-raised-button color="accent" matTooltip="Click Submit Button" [disabled]="!userTeamForm.valid">Submit</button> 

        <button type="reset" mat-raised-button color="accent" matTooltip="Click Reset Button" (click)="resetForm()" class="giveSpace">Reset</button>
        
          <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success" align="left">  
              {{massage}}  
            </p>
    </div>
    <br>
    <br>

    <table mat-table [dataSource]="userTeams" class="mat-elevation-z8">
        <!-- Weight Column -->
      <ng-container matColumnDef="userTeamId">
            <th mat-header-cell *matHeaderCellDef> User Team Id </th>
            <td mat-cell *matCellDef="let userTeams"> {{userTeams.userTeamId}} </td>
          </ng-container>

          <ng-container matColumnDef="fullname">
                <th mat-header-cell *matHeaderCellDef> Full Name </th>
                <td mat-cell *matCellDef="let userTeams"> {{userTeams.user.fullname}} </td>
            </ng-container>

          <ng-container matColumnDef="teamName">
            <th mat-header-cell *matHeaderCellDef> Team Name </th>
            <td mat-cell *matCellDef="let userTeams"> {{userTeams.team.teamName}} </td>
          </ng-container>
        
          <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef> Edit </th>
              <td mat-cell *matCellDef="let userTeams"> 
                <button mat-raised-button type="button"color="primary" (click)="loadUserTeamsForEdit(userTeams, $event)">
                  <mat-icon>edit</mat-icon> Edit
                </button>
              </td>
          </ng-container>
            
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> Delete </th>
                <td mat-cell *matCellDef="let userTeams"> 
                    <button mat-raised-button type="button"color="primary" (click)="deleteUserTeam(userTeams.userTeamId, $event)">
                        <mat-icon>delete</mat-icon> Delete
                    </button>
                </td>
            </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </form>
</mat-card>

